.container_manager_header {
  background-color: rgb(71, 71, 71);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border: 1px solid rgb(231, 231, 231);
}

.container_manager_header img {
  width: 5%;
  cursor: pointer;
}