.container_manager_header {
  background-color: rgb(71, 71, 71);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(231, 231, 231);
}

.container_image_title {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_image_title img {
  width: 23%;
  margin-bottom: 10px;
  cursor: pointer;
}