.container-show-loading {
  position: absolute;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  top: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-show-loading img {
  width: 120px;
}

.container-show-loading p {
  margin-left: 5px;
}

@media (max-width:520px) {
  .container-show-loading {
    top: 200px;
  }

  .container-show-loading img {
    width: 80px;
  }
}