.container_manager_list_music {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(rgb(102, 102, 102), rgb(53, 53, 53));
}

.not_showing_list_music {
  display: none;
}

.container_manager_list_music section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  text-align: center;
  padding: 8px 0px;
  height: 200px;
}

.image_music {
  width: 80%;
  height: 70%;
}

.icon_aside {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 15px;
  height: 15px;
}

.title_and_category h2 {
  font-size: 9pt;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
}

.title_and_category h3 {
  font-size: 10pt;
}

/* formattetion for like page */

.layout_like_page {
  display: block;
  min-height: 550px;
}

.layout_like_page section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 3px 0px;
  margin: 10px 0px;
}

.image_music_like_page {
  position: relative;
  width: 25%;
  height: 90px;
  left: 10px;
}

.icon_aside_like_page {
  position: absolute;
  left: 15px;
  z-index: 1;
}

.title_and_category_like_page {
  text-align: start;
  width: 100%;
}

.title_and_category_like_page h2 {
  font-weight: 600;
  margin-left: 30px;
}

.title_and_category_like_page h3 {
  font-weight: 300;
  margin-left: 30px;
}