.container_every_list_musics {
  height: 100%;
}

.container_manager_list_music {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgb(102, 102, 102), rgb(53, 53, 53));
  width: 100%;
  height: 100%;
  bottom: 10px;
  padding-top: 10px;
  overflow-y: hidden;
}

.container_list_musics {
  width: 100%;
  height: 90%;
}

.container_section_musics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 35%;
  text-align: center;
  padding-top: 10px;
}

.not_showing_list_music {
  display: none;
}

.image_music {
  position: relative;
  width: 60%;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.icon_aside {
  position: absolute;
  bottom: 5%;
  right: 5px;
  width: 15px;
  height: 15px;
  z-index: 10;
}

.title_and_category h2 {
  font-size: 9pt;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title_and_category h3 {
  font-size: 10pt;
}

@media (min-height:750px) {
  .container_manager_list_music {
    height: 630px;
  }
}