* {
  font-family: sans-serif;
  margin: 0;
  color: white;
}

.container_manager_list_music {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(71, 71, 71);
}

.container_manager_list_music section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
}

.container_manager_list_music img {
  width: 80%;
  height: 60%;
}

#icon_aside {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
}

.title_and_category h2 {
  font-size: 12pt;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
}

.title_and_category h3 {
  font-size: 10pt;
  margin-bottom: 10px;
}